* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Roboto', sans-serif;
 
}

.page {
    display: flex;
    flex-direction: column;
    gap:64px;
}

.image-container{
    width:  100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.user-input {
    width: 50%;
    height: 61px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: -4px 4px 18px rgb(0 0 0.09);
    border: none;
    display: flex;
    padding: 0 8px;
    outline: none;
}

.user-input:hover {

    
    border: 2px solid rgb(0, 110, 255);
}

input::placeholder {

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: black;
    padding-left: 19px;
}

.imput-password {
    margin-top: 21px;
}

.forgot-password {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #ffff;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    text-decoration: none;

}

.forgot-password:hover {
    
    color: rgb(0, 140, 255);
}


.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 16px;

}


.sing-up {
    color: #969595;
    margin-top: 21px;
    margin-bottom: 62px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}

.login {
 
    background-color: #ffff;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    width: 133px;
    height: 46px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: black;

    transition:  background-color ease-in 0.2s;
}

.login:hover {
    /* aqui voce muda a cor do botao "login" quando o mouse esta por cima */
    background-color: rgb(0, 140, 255);
    color:white;
}





.or {
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffff;
    margin-top: 20px;
    display: block;


}

.sing-up {
    display: block;
    margin-top: 45px;
    margin-bottom: 62px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

}


strong {
    color: #ffff;

}

.container {

    text-align: center;
    display: flex;
    justify-content: center;
    gap: 18px;
    margin: 23px;
}

.frase {
    color: #ffff;
    text-align: left;
    width: 113px;
    height: 64px;
    margin: 29px;
    font-size: 21px;
    font-weight: bold;



}
