* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Roboto', sans-serif;
 
}

.img-logo {
    display: block;
    margin: 30px auto 61px auto
}

.user-input {
    width: 50%;
    height: 61px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: -4px 4px 18px rgb(0 0 0.09);
    border: none;
    display: flex;
}

input::placeholder {

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: black;
    padding-left: 19px;
}

.imput-password {
    margin-top: 21px;
}

.forgot-password {
    font-style: normal;
    font-weight: normal;
    width: 100%;
    font-size: 13px;
    line-height: 15px;
    color: #ffff;
    text-decoration: none;
    /* margin: 16px 30px 38px 0;  */
    display: flex;

}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 8px;

}


.sing-up {
    color: #969595;
    
    text-decoration: none;
    text-align: center;
    margin: 36px;
}

.button {
 
    background-color: #ffff;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    width: 133px;
    height: 46px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: black;
}

.or {
    font-style: normal;
    font-weight: 900px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffff;
    margin-top: 20px;
    display: flex;


}

.sing-up {
    display: flex;
    margin-top: 45px;
    margin-bottom: 62px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

}


strong {
    color: #ffff;

}

.container {

    text-align: center;
    display: flex;
    justify-content: center;
    gap: 18px;
    margin: 23px;
}

.frase {
    color: #ffff;
    text-align: left;
    width: 113px;
    height: 64px;
    margin: 29px;
    font-size: 21px;
    font-weight: bold;



}
a {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    text-decoration: none;
}